body {
  padding-top: 30px;
}

#reset {
  margin-bottom: 10px;
  font-size: 20px;
}

#timer {
  font-size: 300px;
  text-align: center;
}

#start {
  font-size: 70px
}

#break {
  margin-top: 20px;
  font-size: 30px;
}

#pause {
  margin-top: 15px;
  font-size: 20px;
}
